body {
  border-top: 20px solid #247bbe;
  margin-top: -2px;
  width: 100%;
  background: #fff url("flagbggradient.jpg") no-repeat fixed top;
  color: rgb(80, 80, 80);
  font-family: 'Helvetica', sans-serif;
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(80, 80, 80);
}


div#instructions {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

button.btn {
  background-color: rgb(194, 0, 0);
  border-radius: 3px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  padding: 10px 30px;
  margin-bottom: 20px
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

div#grid{
	background:#fff url()
	width: 535px;
	margin: 0px auto;
}

div#grid > div{
	background: #247bbe;
	border:#bbb 1px solid;
	width:70px;
	height:70px;
	float:left;
	margin:10px;
	padding:20px;
	cursor:pointer;
	text-align:center;
  border-radius: 5px;
}

div#grid > div:hover{
  color: #ccccff;
  background-color: rgb(20, 20, 20);
  /*-webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);*/
}

button:hover{
  color: #fff;
  background-color: rgb(20, 20, 20);
}

div#decks {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 40px;
}



/*BUILDING BOARD WITH CSS & HTML*/

/*.grid {
  width: 550px;
  height: 100%;
  position: relative;
  perspective: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
  float: left;
  margin: 10px 10px;
}

.card .face {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  background: red;
}

.card .back {
  border: 5px blue solid;
  transform: rotateY( 180deg );
}

.card.flipped {
  transform: rotateY( 180deg );
}*/

/*TABLE TRY*/

/*table {
  border: 0 0;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
*/


/*.grid .card.flipped {
-webkit-transform: rotatex(-180deg);
}

.grid .card .face {
width: 100%;
height: 100%;
position: absolute;
-webkit-backface-visibility: hidden ;
z-index: 2;
font-family: Georgia;
font-size: 1em;
text-align: center;
line-height: 100px;
}

.grid .card .front {
position: absolute;
z-index: 1;
background: purple;
color: white;
cursor: pointer;
}

.grid .card .back {
-webkit-transform: rotatex(-180deg);
background: blue;
background: white;
color: #247bbe;
cursor: pointer;
}*/
