body {
  background-color: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  text-align: center;
}

.grid {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
}

.card {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card .face {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  background: red;
}

.card .back {
  background: blue;
  transform: rotateY( 180deg );
}

.card.flipped {
  transform: rotateY( 180deg );
}

#card1 {
  float: left;
  margin: 10px 10px;
}

#card2 {
  float: left;
  margin: 10px 10px;
}

#card3 {
  float: left;
  margin: 10px 10px;
}

#card4 {
  float: left;
  margin: 10px 10px;
}

table {
  border: 0 0;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/*.grid .card.flipped {
-webkit-transform: rotatex(-180deg);
}

.grid .card .face {
width: 100%;
height: 100%;
position: absolute;
-webkit-backface-visibility: hidden ;
z-index: 2;
font-family: Georgia;
font-size: 1em;
text-align: center;
line-height: 100px;
}

.grid .card .front {
position: absolute;
z-index: 1;
background: purple;
color: white;
cursor: pointer;
}

.grid .card .back {
-webkit-transform: rotatex(-180deg);
background: blue;
background: white;
color: teal;
cursor: pointer;
}*/
